*{
    margin: 0;
}



body {
    background-color: #27262C;
}

h1 {
    color: #FFFFFF;
    text-align: center;
}

/* p {
    color: #FFFFFF;
   
} */

li {
    color: #FFFFFF;
}

.pdf {
  position: absolute;
  width: 5%;
  bottom: 30%;
  right: 95px;
  
}
.pdf1 {
  position: absolute;
  width: 5%;
  bottom: 35%;
  left: 18%;
  
}
.pdf2 {
  position: absolute;
  width: 5%;
  bottom: 62%;
  left: 30%;
  
  
}
.txtcv{
  text-align: center;
    position: absolute;
    background-color: rgb(37, 111, 240);
    color: white;
    border-radius: 10px;
    padding: 3px;
    width: 5%;
    bottom: 25%;
    right: 5%;
    font-family:Arial, Helvetica, sans-serif

}
.txtr1{
  text-align: center;
  position: absolute;
  background-color: rgb(37, 111, 240);
  color: white;
  border-radius: 10px;
  padding: 3px;
  width: 5%;
  bottom: 29%;
  left: 18%;
  font-family:Arial, Helvetica, sans-serif

  
}
.txtr2{
  text-align: center;
  position: absolute;
  background-color: rgb(37, 111, 240);
  color: white;
  border-radius: 10px;
  padding: 3px;
  width: 5%;
  bottom: 57%;
  left: 30%;
  font-family:Arial, Helvetica, sans-serif

  
}




/* .photo {
  position: absolute;
  width: 5%;
  top: 13%;
  right: 15%;
  
  
} */


.navbar {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(140, 6, 37);
    overflow: hidden;
    position: fixed;
    bottom: 1;
    width: 100%;
    z-index: 9999999;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;

}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #d30043;
    color: white;
}

.experience {
    position: absolute;
    background-color: rgb(229, 2, 74);
    border-radius: 15px;
    padding: 5px;
    width: 30%;
    bottom: 85%;
    left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.linkedin {
    position: absolute;
    bottom: 8px;
    right: 16px;
    width: 10%;
}
.wakelet {
    position: absolute;
    bottom: 8px;
    right: 200px;
    width: 5%;
}
.github {
    position: absolute;
    bottom: 12px;
    right: 300px;
    width: 8%;
}

/* .cercle {
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: fixed;
    right: 230px;
    top: 90px;
    display: inline-block;
} */

.fondcontact{
    z-index: -1;
    position: absolute;
    opacity: 85%;
    height:937px;
    width: 100%;
    background-size: cover;
    
}
.bac{
    position: absolute;
    top: 89%;
    right: 23%;
    width: 5%;
}
#presentation{
    position: absolute;
    background-color: rgb(46, 44, 45);
    border-radius: 30px;
    padding: 20px;
    width: 30%;
    top: 38%;
    left: 65%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    color: white;
   
}

*{
    box-sizing : border-box;
  }
  
  /* Set a background color */
  body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: absolute;
    max-width: 1000px;
    margin: 0 auto;
    right: 53%;
    bottom: 10%;
    top: 19%;
    
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: white;
    top: 0%;
    bottom: 0%;
    left: 50%;
    margin-left: -3px;
  }
  
  
  .container {
    padding: 20px 20px;
    position: relative;
    background-color: inherit;
    width: 60%;
  }
  
  /* le cercle sur la timeline*/
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 470px;
    background-color: rgb(255, 255, 255);
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* bloc de gauche*/
  .left {
    right: 10%;
  }
  
  /* bloc de droite*/
  .right {
    left: 50%;
  }
  
  
  .right::after {
    left: -16px;
  }
  
  
  .content {
    padding: 50px 50px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 25px;
    color: #27262C;
    text-align: left;
  }
  
  